{% macro date(label,value) %}
<div class="date">
  <label for="" class="date__label">{{label}}</label>
  <div class="date__wrapper date__wrapper_mapMarker">
    <span class="date__value">{{value}}</span>
  </div>
</div>
{% endmacro %}